@model IEnumerable<Portfolio.Models.SportsRosterModel>

@{
    ViewData["Title"] = "Index";
}

<div class="entirePage">

<h1>Baseball Roster</h1>

<p>
    <a asp-action="Create"  class="btn btn-primary">Create New</a>

    <button onclick="window.print()" class="btn btn-primary" style="float:right">Print this page</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FirstName)*@
                First Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.LastName)*@
                Last Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Number)*@
                Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Position)*@
                Position
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Bats)*@
                Bats
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Throws)*@
                Throws
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Throws)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color:white" class="button button1">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="color:white" class="button button1">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:white" class="button button1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>